/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	body {
		padding: 10px 0;
	}
	.iphone-shape {
		top: 5px;
	}
	.iphone-screen img {
	    top: 11px;
	}
	.custom-card {
		padding: 10px 0;
	}
	.main-card-content {
		margin: 10px;
		padding: 10px 5px;
		margin-top: 360px;
	}
	.text-container h1 {
		font-size: 40px;
	}
	.text-container p {
		font-size: 14px;
	}
	.text-container h4 {
		font-size: 14px;
		margin: 15px 0;
	}
	.text-container h3 {
		font-size: 14px;
		margin: 5px 0;
	}
	.text-container h3 span {
		font-size: 25px;
	}
	.app-download-container h4 {
		font-size: 14px;
		margin: 15px 0;
	}
	.app-download-container img {
		width: 70%;
		margin-bottom: 10px;
	}
	ul {
		margin-bottom: -5px;
		margin-right: 40px;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	body {
		padding: 10px 0;
	}
	.iphone-shape {
		top: 0px;
	}
	.iphone-screen img {
	    top: 8px;
	}
	.custom-card {
		padding: 20px 0;
	}
	.main-card-content {
		margin: 10px;
		padding: 10px 5px;
		margin-top: 480px;
	}
	.text-container h1 {
		font-size: 50px;
	}
	.text-container p {
		font-size: 16px;
	}
	.text-container h4 {
		font-size: 20px;
		margin: 15px 0;
	}
	.text-container h3 {
		font-size: 20px;
		margin: 5px 0;
	}
	.text-container h3 span {
		font-size: 35px;
	}
	.app-download-container h4 {
		font-size: 20px;
		margin: 15px 0;
	}
	.app-download-container img {
		width: 50%;
		margin-bottom: 10px;
	}
	ul {
		margin-bottom: -15px;
		margin-right: 40px;
	}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	body {
		padding: 20px 0;
	}
	.iphone-shape {
		top: 20px;
	}
	.iphone-screen img {
	    top: 25px;
	}
	.custom-card {
		padding: 20px 0;
	}
	.main-card-content {
		margin: 10px;
		padding: 10px 5px;
	}
	.text-container h1 {
		font-size: 50px;
	}
	.text-container p {
		font-size: 16px;
	}
	.text-container h4 {
		font-size: 18px;
		margin: 15px 0;
	}
	.text-container h3 {
		font-size: 18px;
		margin: 5px 0;
	}
	.text-container h3 span {
		font-size: 35px;
	}
	.app-download-container h4 {
		font-size: 18px;
		margin: 15px 0;
	}
	.app-download-container img {
		width: 50%;
		margin-bottom: 10px;
	}
	ul {
		margin-bottom: -15px;
		margin-right: 40px;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	a {
		margin-top: 30px;
	}
	body {
		padding-top: 15px;
	}
	.iphone-shape {
		top: 5px;
	}
	.iphone-screen img {
	    top: 10px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 400px) and (max-width: 575px) {
	body {
		padding: 10px 0;
	}
	.iphone-shape {
		top: 0px;
	}
	.iphone-screen img {
	    top: 7px;
	}
	.custom-card {
		padding: 10px 0;
	}
	.main-card-content {
		margin: 10px;
		padding: 10px 5px;
		margin-top: 430px;
	}
	.text-container h1 {
		font-size: 50px;
	}
	.text-container p {
		font-size: 16px;
	}
	.text-container h4 {
		font-size: 20px;
		margin: 15px 0;
	}
	.text-container h3 {
		font-size: 20px;
		margin: 5px 0;
	}
	.text-container h3 span {
		font-size: 35px;
	}
	.app-download-container h4 {
		font-size: 20px;
		margin: 15px 0;
	}
	.app-download-container img {
		width: 50%;
		margin-bottom: 10px;
	}
	ul {
		margin-bottom: -10px;
		margin-right: 40px;
	}
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 370px) and (max-width: 399px) {
	body {
		padding: 10px 0;
	}
	.iphone-shape {
		top: 0px;
	}
	.iphone-screen img {
	    top: 6px;
	}
	.custom-card {
		padding: 10px 0;
	}
	.main-card-content {
		margin: 10px;
		padding: 10px 5px;
		margin-top: 390px;
	}
	.text-container h1 {
		font-size: 40px;
	}
	.text-container p {
		font-size: 14px;
	}
	.text-container h4 {
		font-size: 16px;
		margin: 15px 0;
	}
	.text-container h3 {
		font-size: 16px;
		margin: 5px 0;
	}
	.text-container h3 span {
		font-size: 32px;
	}
	.app-download-container h4 {
		font-size: 16px;
		margin: 15px 0;
	}
	.app-download-container img {
		width: 50%;
		margin-bottom: 10px;
	}
	ul {
		margin-bottom: -5px;
		margin-right: 40px;
	}
}